.header__menu-item{
    color: var(--text-menu);
    position: relative;
    transition: all .3s;
}
.header__menu-item:hover{
    color: var(--primary) !important;
}
.header__menu-item:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: var(--primary);
    opacity: 0;
    transition: all .3s;
}

.header__menu-item:hover:before{
    width: 80%;
    opacity: 1;
}
.header__logo img{
    max-height: inherit !important;
}
.header__menu-item:not(:last-child):after{
    color: var(--text-menu);
    content: '/';
    position: absolute;
    top: 10%;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:2px;
    height: 80%;
    font-weight: 300;
}
.header__menu-item:hover, .header__menu-item:focus-within, .header__menu-item:focus{
    background: transparent !important;
}
.header__menu-item:focus-visible{
    border: none;
    outline: none;
}

@media screen and (max-width: 468px){
    .header__menu-item::after{
        display: none !important;
    }
}