.applications{
    padding: 5rem 1rem;
}

.app__services{
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 3rem;
}
.app__services-item{
    border-bottom: 1px solid rgb(186, 186, 186);
    padding-bottom: 3rem;
    transition: all .3s;
}
.app__services-item:hover{
    border-bottom: 1px solid var(--primary);
}

.app__services-item:last-child{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    grid-column-end: span 4;
}
.app__services-img{
    border: 1px solid var(--bgDark);
    border-radius: .5rem;
}
.app__services-icon{
    object-fit: contain;
    width: 56px;
    height: 56px;
}

.app__services-content :not(:first-child) {
    display: none;
}
.app__services-title {
    text-transform: uppercase;
}


.skills__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin-top: 5rem;
    cursor: pointer;
}
.skills-items{
    background: #f3f3f3;
    border-radius: .5rem;
    width: 200px;
    height: 200px;
    transition: all .3;
    text-transform: uppercase;
    line-height: 1;
    position: relative;

}
.skills-items img{
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.skills__header-title{
    letter-spacing: .25rem;
}
.skills-tooltip{
    background: #2b393d;
    color: white;
    position: absolute;
    top: calc(100% + 1rem);
    width: 100%;
    left: calc(50% - 100px);
    border-radius: .5rem;
    visibility: hidden;
    transition: all .3s;
    text-transform: lowercase;
}
.skills-tooltip:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #2b393d;
	border-top: 0;
	margin-left: -10px;
	margin-top: -10px;
    z-index: 4;
}
.skills-items:hover .skills-tooltip{
    visibility: visible;
}
.skills-items:hover{
    background-color: var(--primary);
    color: #f3f3f3;
}

.mac__imag{
    position: relative;
}
.mac__imag_top{
    position: absolute;
    top: -110px;
    left: 50%;
    margin-left: -400px;
}
.mac__imag_top img{
    max-width: 800px;
}
.mac__imag-spacer{
    height: 150px;
    display: block;
    margin-bottom: 3rem;
}
.mac__img_title{
    max-width: 500px;
}
@media screen and (max-width: 480px) {
    .app__services{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 1rem;
    }
    .skills__content{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .skills-items{
        width: 100%;
        height: 100px;
    }
    .app__services-title{
        font-size: .85rem;
    }
    .app__services-item:last-child{
        grid-column-end: span 2;
    }
    .mac__imag_top{
        position: static;
        display: block;
        margin-left: 0;
    }
    .mac__imag_top img{
        width: 100%;
    }
    .mac__imag-spacer{
        height: 1px;
    }
} 