.applications{
    padding: 5rem 1rem;
}

.app__services{
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 3rem;
}
.app__services-item{
    cursor: pointer;
}

.app__services-item:last-child{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    grid-column-end: span 4;
}
.app__services-img{
    border: 1px solid var(--bgDark);
    border-radius: .5rem;
}
.app__services-icon{
    object-fit: contain;
    width: 56px;
    height: 56px;
}

.app__services-content :not(:first-child) {
    display: none;
}
.app__services-title {
    text-transform: uppercase;
}

.skills{
    padding-top: 5rem;
}
.skills__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin-top: 5rem;
    cursor: pointer;
}
.skills-items{
    background: #f3f3f3;
    border-radius: .5rem;
    width: 200px;
    height: 200px;
    transition: all .3;
    text-transform: uppercase;
    line-height: 1;
    position: relative;

}
.skills-items:not(:last-child)::after{
    content: '>';
    position: absolute;
    top: calc(50% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100%;
    width: 60px;
    height: 60px;
    font-weight: 300;
    color: #cfcfcf;
    font-size: 4rem;

}
.skills-items img{
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.skills__header-title{
    letter-spacing: .25rem;
}
.skills-items:hover .skills-img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.skills-tooltip{
    width: 200px;
}

.skills-items:hover{
    background-color: var(--primary);
    color: #f3f3f3;
}

.mac__imag{
    position: relative;
}
.mac__imag_top{
    position: absolute;
    top: -110px;
    left: 50%;
    margin-left: -400px;
}
.mac__imag_top img{
    max-width: 800px;
}
.mac__imag-spacer{
    height: 150px;
    display: block;
    margin-bottom: 3rem;
}
.mac__img_title{
    max-width: 500px;
}

.app__services-item-1, .app__services-item-5, .app__services-item-9{
    animation-delay: .3s;
}
.app__services-item-2, .app__services-item-6, .app__services-item-10{
    animation-delay: .6s;
}
.app__services-item-3, .app__services-item-7, .app__services-item-11{
    animation-delay: .9s;
}

.skill-item-1{
    animation-delay: .3s;
}
.skill-item-2{
    animation-delay: .6s;
}
.skill-item-3{
    animation-delay: .9s;
}
@media screen and (max-width: 1024px){
    .skills__content{
        gap: 2rem;
    }
    .skills-items{
        width: 150px;
        height: 150px;
    }
    .skills-items:not(:last-child)::after{
        top: calc(50% - 15px);
        left: 100%;
        width: 30px;
        height: 30px;
        font-size: 2rem;
    
    }
}
@media screen and (max-width: 480px) {
    .applications{
        padding: 0 1rem 5rem 1rem;
    }
    .app__services{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 1rem;
    }
    .skills__content{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .skills-items{
        width: 100%;
        height: 100px;
    }
    .app__services-title{
        font-size: .85rem;
    }
    .app__services-item:last-child{
        grid-column-end: span 2;
    }

    .mac__imag_top{
        top: -50px;
        margin-left: 0%;
        left: 0;
    }
    .mac__imag_top img{
        max-width: 350px;
        width: 100%;
    }
    .mac__imag-spacer{
        height: 1px;
    }
    .skills-items{
    height: auto;
    box-sizing: border-box;
    }
    .skills-items:not(:last-child)::after{
        display: none;
    }
}

