:root{
    --primary: #fe5039;
    --secondary: #19857b;
    --text-menu: #39474b;
    --bgDark: #10151b;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.wc__titles {
    position: relative;
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    padding: 0 1.5rem;
    letter-spacing: .25rem;
    line-height: 1;
}
.wc__titles:before {
    left: -2rem;
}
.wc__titles:after {
    right: -2rem;
}
.wc__titles:before, .wc__titles:after {
    content: "";
    height: 1px;
    width: 2rem;
    background-color: var(--primary);
    position: absolute;
    top: 50%;
}

.collapse-button {
    background: var(--primary);
    border: 1px solid var(--primary);
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    padding: 1rem;
    transition: all .3s;
    width: 100%;
  }
.collapse-button:hover{
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}
.collapse-content{
    border-radius: 0 0;
}
.collapse-content.collapsed {
    display: none;
}  
.collapsed-content.expanded {
    display: block;
}