:root{
    --primary: #fe5039;
    --secondary: #19857b;
    --text-menu: #39474b;
    --bgDark: #10151b;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.wc__titles {
    position: relative;
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    padding: 0 1.5rem;
    letter-spacing: .25rem;
    line-height: 1;
}
.wc__titles:before {
    left: -2rem;
}
.wc__titles:after {
    right: -2rem;
}
.wc__titles:before, .wc__titles:after {
    content: "";
    height: 1px;
    width: 2rem;
    background-color: var(--primary);
    position: absolute;
    top: 50%;
}

.wc__titles-white{
    border-color: white;
}
.wc__titles-white::before, .wc__titles-white::after{
    background-color: white;
}
.title__header-title{
    text-transform: uppercase;
}
.banner{
    padding: 4rem 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.banner__header-title{
    text-transform: uppercase;
}
.banner__body{
    max-width: 800px;
}
.other__data{
    padding: 3rem 0;
}
.quote__data-logo{
    border-top: 2px solid var(--primary)
}
.data__body-item{
    max-width: 100px;
}
.data__body-item-icom{
    width: 80px;
    height: 80px;
}
.data__body-item-icom img{
    object-fit: cover;
}

@media screen and (max-width: 480px) {
    .data__header-title{
        max-width: 80%;
    }
    .data__body{
        align-items: center;
        max-width: 100%;
        flex-direction: column;
    }
    .data__body-item:nth-child(2){
        margin: 2rem 0;
    }
}
.collapse-button {
    background: var(--primary);
    border: 1px solid var(--primary);
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    padding: 1rem;
    transition: all .3s;
    width: 100%;
  }
.collapse-button:hover{
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}
.collapse-content{
    border-radius: 0 0;
}
.collapse-content.collapsed {
    display: none;
}  
.collapsed-content.expanded {
    display: block;
}
.collapse__title{
    text-transform: uppercase;
}
@media screen and (max-width: 480px) {
    .other__data{
        flex-direction: column;
        align-items: center;
    }
    .title__header-title{
        width: 80%;
    }
}

@import 'animate.css';
